<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeLightTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TimeLightTesterMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C034270B18E300130063B69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C034272A18E300140063B69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052976018BB8D9B001451C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052978118BB8D9C001451C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
